doctype html
html
    head
        title #{title}
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        // Bootstrap CSS (CDN)
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css", integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB", crossorigin="anonymous")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css")
    body
        div.container.py-3
            header
                div.d-flex.flex-column.flex-md-row.align-items-center.pb-3.mb-4.border-bottom
                    a.d-flex.align-items-center.text-dark.text-decoration-none(href="/landing")
                        span.fs-4 Online Banking - Admin
                        a.ms-4.py-2.text-dark.text-decoration-none(href="/user/accounts") Switch to User View
                
                    nav.d-inline-flex.mt-2.me-4.mt-md-0.ms-md-auto
                        a.me-4.py-2.text-dark.text-decoration-none(href="/admin/users") Users
                        a.me-4.py-2.text-dark.text-decoration-none(href="/admin/accounts") Accounts
                        a.me-4.py-2.text-dark.text-decoration-none(href="/admin/transactions") Transactions
                    <!-- Username and Logout-->
                    if currentUser
                        div.d-inline-flex.ms-md-3
                            span.me-3.py-2.text-dark.text-decoration-none= 'Hello, ' + currentUser.name
                            a.me-3.py-2.text-dark.text-decoration-none(href="/logout")
                                i.bi.bi-box-arrow-right Logout

            // header (optional)
            block title

            if success_msg && success_msg.length > 0
                div.alert.alert-success(role="alert")
                    span=success_msg
            if error_msg && error_msg.length > 0
                div.alert.alert-danger(role="alert")
                    span=error_msg
            block content

            // footer (optional)
            block footer

            // Bootstrap JS
            script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js", integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI", crossorigin="anonymous")