extends layouts/main

block title
    div.p-3.pb-md-4.mx-auto.text-center
        h1.display-4.fw-normal Landing Page
block content
    p Online Banking Website that allows users to register, log in, create and manage multiple bank accounts, perform simulated transactions, view transaction history, and search transaction records