extends layouts/main

block title
    //- div.d-flex.p-3
    //-     a.btn.btn-secondary.btn-sm.mb-3
    //-         i.bi.bi-arrow-left Back to Landing
    div.p-3.pb-md-4.mx-auto.text-center
        h1.display-4.fw-normal Login

block content
    if errors.general
        div.alert.alert-danger(role="alert")
            span= errors.general

    form(action="/login", method="POST")
        input(type="hidden" name="_csrf" value=csrfToken)  
        div.mb-3
            label(for="username") Username
            input.form-control(name="username", value=(data.username || ''), class=(errors.username ? 'is-invalid' : ''))
            if errors.username
                div.invalid-feedback #{errors.username}

        // Password field
        div.mb-3
            label.form-label Password
            input.form-control(name="password" type="password" class=(errors.password ? 'is-invalid' : ''))
            if errors.password
                div.invalid-feedback #{errors.password}

        button.btn.btn-primary(type="submit") Login